# App
NODE_ENV=development

# API
API_PORT=3401
JWT_SECRET=change_me_in_real_environment
JWT_EXPIRES_IN=7d

# Database
DATABASE_URL=postgresql://cotacerta:cotacerta_dev_password@localhost:3341/cotacerta?schema=public

# Web
VITE_API_URL=http://localhost:3401
